
/* Navigation css code*/
.container_header{
	/*background-color:white;*/
	color: black;
	display: flex;
	/*flex-direction: row;*/
	width: 1280px;
	height: 80px;
}
.list_main_nav{
	/*display: flex;
	flex-direction: row;*/ 
	padding:30px;
	width:120px;
	margin:0px auto;

}
.list_main_nav li{
	padding:16px;
	font-size:15px;
	color:red;
}
.list_main_nav button{
	/*wid*/
}
/* End of Navigation css code */

.main_container div{
	width: 1280px;
	height: 590px;
	background-color: yellow;

}
/*.container_header{
	background: #000;
	display: flex;
	width: 1280px;
	height: 80px;
}

ul li{
	padding: 10px;
}*/